table
  {
  width:50%;
  border-collapse:collapse;
  }
  table th, td
{
border: 1.5px solid black;
}
td{
background-color:gray;
color:white;
}
th
  {
  background-color:Black;
  color:orange;
  }
  div{
    overflow-x:auto;
    overflow-y: auto;
    height: 500px;
    width:280px;

  }
